[Desktop Entry]
Type=Service
Name=Qt Designer Files
ServiceTypes=ThumbCreator
MimeType=application/x-designer;
X-KDE-Library=quithumbnail
CacheThumbnail=true
