[Desktop Entry]
Type=Service
Name=Qt Designer Files
Name[bg]=Файлове на дизайнера Qt
Name[br]=Restroù Ergrafer Qt
Name[bs]=Qt Designer datoteke
Name[ca]=Fitxers de Qt Designer
Name[cs]=Soubory Qt designeru
Name[cy]=Ffeiliau Qt Designer
Name[da]=Qt Designer-filer
Name[de]=Qt-Designer Dateien
Name[el]=Αρχεία Qt Designer
Name[es]=Archivos de Qt Designer
Name[et]=Qt Designeri failid
Name[eu]=Qt Designer fitxategiak
Name[fa]=پرونده‌های طراح Qt
Name[fi]=Qt Designer -tiedostot
Name[fr]=Fichiers Qt Designer
Name[ga]=Comhaid Qt Designer
Name[gl]=Ficheiros de Qt Designer
Name[hi]=क्यू-टी डिजाइनर फ़ाइलें
Name[hu]=Qt Designer fájlok
Name[is]=Qt Designer skrár
Name[it]=File di Qt Designer
Name[ja]=Qt デザイナーファイル
Name[ka]=Qt დიზაინერის ფაილები
Name[kk]=Qt Designer файлы
Name[lt]=Qt Designer bylos
Name[nb]=Qt Designer-filer
Name[nds]=Qt-Designer-Dateien
Name[ne]=Qt डिजाइनर फाइल
Name[nl]=Qt Designer-bestanden
Name[nn]=Qt Designer-filer
Name[pa]=Qt Designer ਫਾਇਲ
Name[pl]=Pliki Qt Designer
Name[pt]=Ficheiros do Qt Designer
Name[pt_BR]=Arquivos do Qt Designer
Name[ru]=Файлы Qt Designer
Name[sk]=Súbory Qt Designer
Name[sl]=Datoteke za Qt Designer
Name[sr]=Фајлови Qt Designer-а
Name[sr@Latn]=Fajlovi Qt Designer-a
Name[sv]=Qt-designer-filer
Name[ta]=Qt வடிவமை கோப்புகள்
Name[tg]=Файлҳои Qt Designer
Name[tr]=Qt Designer Dosyaları
Name[uk]=Файли Qt Designer
Name[zh_CN]=Qt 设计师文件
Name[zh_TW]=Qt Designer 檔案
ServiceTypes=ThumbCreator
MimeTypes=application/x-designer
X-KDE-Library=quithumbnail
CacheThumbnail=true
