[Desktop Entry]
Encoding=UTF-8
Type=Service
Name=Qt Designer Files
ServiceTypes=ThumbCreator
MimeTypes=application/x-designer
X-KDE-Library=quithumbnail
CacheThumbnail=true
