[Desktop Entry]
Encoding=UTF-8
Name=KUIViewer
Name[cy]=KUIGwelydd
Name[hi]=के-यूआई-व्यूअर
Name[sv]=KUIviewer
Name[ta]=KUIவியூவர் 
Name[xx]=xxKUIViewerxx
Exec=kuiviewer %i %m -caption "%c"
Icon=kuiviewer
Type=Application
DocPath=kuiviewer/kuiviewer.html
GenericName=Qt Designer UI file Viewer
GenericName[ca]=Visor per als fitxer UI de Qt Designer
GenericName[cs]=Prohlížeč UI souborů z Qt Designeru
GenericName[cy]=Gwelydd ffeiliau Qt Designer UI
GenericName[da]=Qt Designer UI filviser
GenericName[de]=Betrachter für UI-Dateien des Qt-Designer
GenericName[el]=Προβολέας αρχείων Qt Designer UI
GenericName[es]=Visor de archivos UI de Qt Designer
GenericName[et]=Qt Designeri UI-failide näitaja
GenericName[fi]=Qt Designer UI-tiedostojen näyttäjä
GenericName[fr]=Afficheur de fichiers UI de QT Designer
GenericName[hi]=क्यू-टी डिजाइनर यूआई फाइल व्यूअर
GenericName[hu]=Qt Designer UI-fájlnézegető
GenericName[it]=Visualizzatore per file UI di Qt Designer
GenericName[nl]=Weergave van QT Designer UI-bestanden
GenericName[pt]=Visualizador de Ficheiros UI do Qt Designer
GenericName[pt_BR]=Arquivo e Interface do Visualizador Qt Designer
GenericName[ru]=Просмотрщик для файлов UI Qt Designer
GenericName[sk]=Prehliadač súborov UI pre Qt Designer
GenericName[sl]=Pregledovalnik datotek UI za Qt Designer
GenericName[sr]=Приказивач Qt Designer UI фајлова
GenericName[sv]=Qt-designer UI-filvisning
GenericName[ta]=Qt  வடிவமைப்பவர் UI கோப்புகள் வியூவர்
GenericName[xx]=xxQt Designer UI file Viewerxx
MimeType=application/x-designer;
Terminal=0
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development
InitialPreference=10
