[Desktop Entry]
Encoding=UTF-8
Name=KUIViewerPart
Name[af]=KUIViewerDeel
Name[de]=KUIViewer-Objekt
Name[eo]=KUIViewer-Parto
Name[es]=Parte
Name[et]=KUIViewer komponent
Name[id]=KUIViewerbagian
Name[ko]=KUIViewer 부분
Name[lt]=KUIViewerDalis
Name[ro]=Componenta KUIViewer
Name[sv]=KUIViewer-del
Name[ven]=Tshipida
Name[xh]=KUIViewerIqela
Name[zu]=KUIViewerIngxenye
MimeType=application/x-designer;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkuiviewerpart
Type=Service
