[Desktop Entry]
Name=KUIViewerPart
Name[hi]=के-यूआई-व्यूअर-पार्ट
Name[sv]=KUIviewer-del
Name[ta]=KUIவியூவர் உறுப்பு
MimeType=application/x-designer;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkuiviewerpart
Type=Service
