[Desktop Entry]
Encoding=UTF-8
Name=KUIViewer
Name[cy]=KUIGwelydd
Name[hi]=के-यूआई-व्यूअर
Name[sv]=KUIviewer
Name[ta]=KUIவியூவர் 
Name[xx]=xxKUIViewerxx
Exec=kuiviewer %i %m -caption "%c"
Icon=kuiviewer
Type=Application
GenericName=Qt Designer UI File Viewer
GenericName[da]=Qt Designer UI filviser
GenericName[el]=Προβολέας αρχείων Qt Designer UI
GenericName[et]=Qt Designeri UI-failide näitaja
GenericName[fr]=Afficheur de fichiers UI de QT Designer
GenericName[pt_BR]=Visualizador de Arquivos e Interface do Qt Designer
GenericName[sv]=Qt-designer UI-filvisning
MimeType=application/x-designer;
Terminal=0
X-DCOP-ServiceType=Multi
Categories=Qt;KDE;Development
InitialPreference=10
