[Desktop Entry]
Encoding=UTF-8
Name=KUIViewer
Name[x-test]=xxKUIViewerxx
Exec=kuiviewer -caption "%c"
Icon=kuiviewer
Type=Application
GenericName=Qt Designer UI File Viewer
GenericName[el]=Προβολέας αρχείων Qt Designer UI
GenericName[fr]=Afficheur de fichiers UI de QT Designer
GenericName[x-test]=xxQt Designer UI File Viewerxx
MimeType=application/x-designer;
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Development;
InitialPreference=10
