<!DOCTYPE kpartgui SYSTEM "kpartgui.dtd">
<kpartgui name="kuiviewer_part" version="2">
<MenuBar>
<Merge/>
<Menu name="view" noMerge="1"><text>&amp;View</text>
    <Separator />   
    <Action name="change_style"/>
  <Merge/>
  </Menu>
<Merge/>
</MenuBar>
<ToolBar name="Style Toolbar">
  <Action name="change_style"/>
  <Separator/>
</ToolBar>
</kpartgui>
