[Desktop Entry]
Name=KUIViewerPart
Name[sr]=K‑УИ‑приказивач део
Name[sr@latin]=K‑UI‑prikazivač deo
Name[sv]=KUIviewer-del
Name[ta]=KUIவியூவர் உறுப்பு
Name[x-test]=xxKUIViewerPartxx
MimeType=application/x-designer;
ServiceTypes=KParts/ReadOnlyPart
X-KDE-Library=libkuiviewerpart
Type=Service
