[Desktop Entry]
Name=KUIViewer
Exec=kuiviewer -qwindowtitle %c %u
Icon=kuiviewer
Type=Application
GenericName=Qt Designer UI File Viewer
Comment=A quick viewer for Qt Designer UI File
MimeType=application/x-designer;
Terminal=false
Categories=Qt;KDE;Development;
InitialPreference=10
