[Desktop Entry]
Name=KUIViewer
Exec=kuiviewer -caption %c
Icon=kuiviewer
Type=Application
GenericName=Qt Designer UI File Viewer
GenericName=A quick viewer for Qt Designer UI File
MimeType=application/x-designer;
Terminal=false
X-DBUS-StartupType=Multi
Categories=Qt;KDE;Development;
InitialPreference=10
